@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom Scrollbar for Light Theme */
::-webkit-scrollbar {
  width: 4px;  /* Made slightly thinner for minimalist look */
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;  /* Very light gray to match our theme */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;  /* Light gray that matches our UI elements */
  border-radius: 6px;
  border: 1px solid #f5f5f5;  /* Creates subtle border effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;  /* Slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #f5f5f5;
}